[submodule "Assets/Plugins/GenUI"]
	path = Assets/Plugins/GenUI
	url = http://github.com/theoriz/genui
[submodule "Assets/Plugins/OCF"]
	path = Assets/Plugins/OCF
	url = http://github.com/theoriz/ocf
[submodule "Assets/Plugins/UnityOSC"]
	path = Assets/Plugins/UnityOSC
	url = http://github.com/theoriz/UnityOSC
