[submodule "Plugins/GenUI"]
	path = Plugins/GenUI
	url = http://github.com/theoriz/genui
[submodule "Plugins/OCF"]
	path = Plugins/OCF
	url = http://github.com/theoriz/ocf
[submodule "Plugins/UnityOSC"]
	path = Plugins/UnityOSC
	url = http://github.com/theoriz/UnityOSC
